app
src/app
a.out
tmp/*
unit_tests/coverage/*
tests
C_3DEngine
CMakeCache.txt
CMakeFiles
cmake_install.cmake
C_3DEngine_autogen
.qt
*.so
*.so.*
build/.qt
build/*build-release-v1.tar.gz
build/*build-debug
build/*build-release
build/*-tests
manual.html